

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Games</title>


<link rel="stylesheet" href="css/{{style}}">
<style>
  .material-icon{
    padding: 10px !important;
  }
  .pg-footer {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #000000;
  color: #fff;
  margin-top: 17%;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #7b1414;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #c73117;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #c73117
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #027b9a;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}
</style>
</head>
<body>
 
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 0% !important;">
        <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="logo.jpg" alt="" height="50vh"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin: 0%;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-5">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/dashboard">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/movies">Movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/webseries">Webseries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/games">Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Suggestions</a>
              </li>
            </ul>

            <ul class="navbar-nav me-2 mb-2 mb-lg-0">
             <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-user"> Welcome {{name}}</i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
             <li><a class="dropdown-item" href="/ourteam">OurTeam</a></li>
            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
          </ul>
        </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<div class="sort">
  <form class="d-flex form form" id="form">
            
    <div class = 'search-box'>
    <input class = "search-text" type="text" placeholder = "Search Game" id="searchMovie">
    <a href="#" type="submit" class = "search-btn">
     <i class="fas fa-search"></i>
    </a>         
  </div> 
  </form>
 <select class="nice-select" name="sort" multiple>
  <option>Sort by...</option>
  <option value="-rating">Rating: Descending</option>
  <option value="Action">Action</option>
  <option value="Adventure">Adventure</option>
  <option value="Shooting">Shooting</option>
  <option value="Racing">Racing</option>
  <option value="Sports">Sports</option>
  <option value="War">War</option>
</select>
</div>
  
  
<div class="wrapper ultimate" id="output"> 
   <script>
    let count=0;
    let data;
    let response;
    let i;
  </script>
   
   
   {{#each games}}
   <div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="{{titleImage}}"/>
      <h4>{{gameName}}</h4>
      <span class="minutes">{{rating}}</span>
      <p class="type">{{genre}}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{description}}
      </p>
    </div>
    <div class="movie_social">
      <ul>
       <a href="{{link}}" target="_blank"> <li><button class="material-icons" style="border: none;background:transparent;color:white;font-size: 30px !important">downloading</button></li></a> 
        <li><button class="material-icons foo" style="border: none;background:transparent;color:white;font-size: 30px !important" onclick="getFav(this)" value="{{_id}}" name="{{email}}" id="x"></button></li>
			
       <a href="{{trailer}}" target="_blank"> <li><button class="material-icons" style="border: none;background:transparent;color:white;font-size: 30px !important">play_circle_outline</button></li></a>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back" style="background: url('{{coverImage}}');background-size: 700px 500px;background-position: center;"></div>
</div>
       
    <script>
      
        console.log("Runing JavaScript With EveryHelpers");
      
        
      count++;
      console.log(count)
    

       var inputElements = document.getElementsByClassName("foo");
       {{!-- var inputElements = document.querySelectorAll("[class='foo']"); --}}
     
       
      
       response=JSON.parse(localStorage.getItem('response'))
       data=response.data.user.favGame[0]

       for(j=0; inputElements.length > j; j++){

           for(i=0;i<response.data.user.favGame.length;i++){

          console.log("Inside start mark for loop")
                console.log(inputElements[j].value)
                console.log(response.data.user.favGame[i])
          if(inputElements[j].value==response.data.user.favGame[i]){
                
            
              console.log("Found a Movie to star mark")
                inputElements[j].style.color='red'
          }
        }
     } console.log("Data is Shown"+data)
    </script>
 {{/each}}
	</div>

 

	   


   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
   <script>
      console.log("inside script")
     
     async function hello(){
       try {
           const  res=await axios.get("/games/all")
             console.log(res)
             localStorage.setItem('response',JSON.stringify(res))
           {{!-- return res --}}

            return res
        } catch (error) {
          console.error(error);
        }
     }
     let responseAll;
    hello().then(function (result) {
        console.log(result); // Ooops, the result is undefined
        responseAll = result;
    })
    console.log(responseAll)

    function checkFav(btn) {
    let countFav=0
      
      console.log("running CheckFav")
      console.log(responseAll.data.user.favGame[0])
      btn.id=countFav.toString()
      
        console.log(btn.id)
        countFav=parseInt(btn.id)
        console.log(countFav)

      for(let i=0;i<responseAll.data.user.favGame.length;i++){
          if(responseAll.data.user.favGame[i]===btn.value){
              countFav=countFav+1;
              console.log("inside for loop")
              console.log(countFav)
          }
      }
      console.log(countFav)
      
      
      return countFav
    }

      const Form = document.querySelector("form");
      const search=document.getElementById("searchMovie")

      async function getOption(val) {
        event.preventDefault();
       console.log("inside get optioin")
       var output = document.getElementById('output');
            {{!-- selectElement = document.querySelector('input');
                      
            out= selectElement.value;
            console.log(out) --}}
              
         
          try {
            const response = await axios.get("/games/search",{ params: { sort: val } })
            console.log(response);
              {{!-- let str=response.data
            str=str.slice(3940,8360)
            console.log(str) --}}
            {{!-- document.querySelector('html').innerHTML =response.data --}}
            
            output.className = 'ultimate';
            
              output.innerHTML =response.data

              console.log(response.data)
            {{!-- output.className = 'ultimate';
            console
             output.innerHTML = response.data; --}}

         
        } catch (error) {
          console.error(error);
        }
      
  
        }

      Form.addEventListener("submit", (event) => {
        event.preventDefault();
        const gameName = search.value;
        gameName.toLowerCase()
        console.log("inside form")

        async function getUser() {
           var output = document.getElementById('output');
          console.log("inside function")
          console.log(gameName)
          try {
            const response = await axios.get("/games/search",{ params: { gameName: gameName } })
            console.log(response);
            {{!-- document.getElementsByTagName("html")[0].innerHTML=response.data --}}
           
            {{!-- document.querySelector('html').innerHTML =response.data --}}
            
            output.className = 'ultimate';
            
              output.innerHTML =response.data

         
        } catch (error) {
          console.error(error);
        }
      }
      getUser()
      })


      async function getFav(btn) {
        console.log("Insdie getFav")

         let x=checkFav(btn)
          console.log(x)
          btn.count=x.toString()

          if(x>0){
              btn.style.color='red'
              alert("Already Added");
          }else{
          alert("Added To Favourite List")
          btn.style.color='red'

        }


         const Usermail=btn.name
         const gameId=btn.value

         console.log(Usermail)
         console.log(gameId) 

         
         
         console.log("Inside getfav function")
          try {
            const response = await axios.get("/games/like",
            { params: { id:gameId ,
              _id:Usermail 
              } 
            })
            console.log(response);
            console.log(id)
            {{!-- console.log(_id) --}}
            output.className = 'ultimate';
            console
              output.innerHTML = response.data;

         
        } catch (error) {
          console.error(error);
        }

       }





      {{!-- DropDown List --}}

      $('.nice-select').each(function() {
  
  var select = $(this),
      name = select.attr('name');
  
  select.hide();
  
  select.wrap('<div class="nice-select-wrap"></div>');
  
  var parent = select.parent('.nice-select-wrap');
  
  parent.append('<ul id=' + name + ' style="display:none"></ul>');
  
  select.find('option').each(function() {

    var option = $(this),
        value = option.attr('value'),
        label = option.text();
    
    if (option.is(":first-child")) {
      
      $('<a href="#" class="drop">' + label + '</a>').insertBefore(parent.find('ul'));
      
    } else {
      
      parent.find('ul').append('<li><a href="#" id="' + value + '">' + label + '</a></li>');
      
    }
    
  });
  
  parent.find('a').on('click', function(e) {
    
    parent.toggleClass('down').find('ul').slideToggle(300);
    
    e.preventDefault();
  
  });
  
  parent.find('ul a').on('click', function(e) {
    
    var niceOption = $(this),
    		value = niceOption.attr('id'),
        text = niceOption.text();
    
    select.val(value);
    console.log(value)
     getOption(value)
    
    parent.find('.drop').text(text);
    
    e.preventDefault();
  
  });
  
});

$('.header').on('click', '.search-toggle', function(e) {
  var selector = $(this).data('selector');

  $(selector).toggleClass('show').find('.search-input').focus();
  $(this).toggleClass('active');

  e.preventDefault();
});

   </script>


</div>
<div class="pg-footer">
  <footer class="footer">
    <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
      <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
    </svg>
    <div class="footer-content">
      <div class="footer-content-column">
        <div class="footer-logo">
          <a class="footer-logo-link" href="#">
            <img src="logof.jpg" alt="" height="120vh" width="120vw">
          </a>
        </div>
      </div>
      <div class="footer-content-column">
        <div class="footer-menu">
          <h2 class="footer-menu-name"> Get Started</h2>
          <ul id="menu-company" class="footer-menu-list">
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="/faq">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="footer-menu">
          <h2 class="footer-menu-name"> Legal</h2>
          <ul id="menu-legal" class="footer-menu-list">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-170434">
              <a href="#">Privacy Notice</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-content-column">
        <div class="footer-menu">
          <h2 class="footer-menu-name"> Quick Links</h2>
          <ul id="menu-quick-links" class="footer-menu-list">
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a target="_blank" rel="noopener noreferrer" href="/">Home</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a rel="noopener noreferrer" href="/movies">Movies</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="/webseries">Webseries</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="/games">Games</a>
            </li>
            <li class="menu-item menu-item-type-post_type_archive menu-item-object-customer">
              <a href="/contact">Suggestions</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="/profile">Profile</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="/ourteam">OurTeam</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-content-column">
        <div class="footer-call-to-action">
          <h2 class="footer-call-to-action-title"> Let's Chat</h2>
          <p class="footer-call-to-action-description"> Have a suggestion?</p>
          <a class="footer-call-to-action-button button" href="/contact" target="_self"> Suggestions </a>
        </div>
      </div>
      
      </div>
    </div>

  </footer>
</div>
</body>
</html>
</div>