<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="css/{{style}}">
<style>
  .nice-select-wrap {
  top: 24%  !important;
    left: 69%  !important;
    position: absolute  !important;
    margin: 0rem auto 0  !important;
    width: 11rem  !important;
    border-radius: 1.25rem  !important;
    border: 2px solid #ff2a2a  !important;
    overflow: hidden  !important;
    background-color: #2b2727  !important;
    transition: background 300ms ease  !important;
}
.nice-select-wrap.down {
  background-color: #1b1919 !important; 
}
.nice-select-wrap.down .drop::after {
  transform: rotate(-90deg)  !important;
}
.nice-select-wrap .drop, .nice-select-wrap ul a {
  width: 100%  !important;
  display: block  !important;
  padding: 0.5rem 1rem  !important;
  text-decoration: none  !important;
  color: #666  !important;
  font-size: 0.88rem  !important;
  line-height: 1.88  !important;
  height: 2.5rem  !important;
}
.nice-select-wrap .drop {
  position: relative  !important;
}
.nice-select-wrap .drop::after {
  content: ">"  !important;
  position: absolute  !important;
  text-align: center  !important;
  width: 1rem  !important;
  height: 1rem  !important;
  top: 50%  !important;
  right: 1rem  !important;
  margin-top: -0.5rem  !important;
  color: #666;
  transform: rotate(90deg)  !important;
  line-height: 0.94  !important;
  transition: all 300ms ease  !important;
}
.nice-select-wrap ul {
  width: 100%  !important;
  list-style-type: none  !important;
  margin: 0  !important;
  padding: 0  !important;
  overflow: visible  !important;
}
.nice-select-wrap ul a {
  position: relative  !important;
}
.nice-select-wrap ul a:hover {
  color: red  !important;
}
.nice-select-wrap ul a::after {
  content: ""  !important;
  position: absolute  !important;
  top: 0  !important;
  left: 0  !important;
  display: block  !important;
  width: 100%  !important;
  height: 1px  !important;
  background: linear-gradient(to right, rgba(245, 245, 245, 0) 0%, whitesmoke 10%, whitesmoke 90%, rgba(245, 245, 245, 0) 100%)  !important;
}
</style>

<body>
  <div class="ultimate" id="output">

  
      <header>
      
      
      <div class="netflixLogo">
        <a id="logo" href="#home"><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" alt="Logo Image"></a>
      </div>      
      <nav class="main-nav">                
        <a href="#">Home</a>
        <a href="/movies">Movies</a>
        <a href="/webseries">Webseries</a>
        <a href="/games">Games</a>
        <a href="/auth/logout">Logout</a>
      </nav>

      <select class="nice-select" name="sort" multiple>
  <option>Sort by...</option>
  <option value="-rating">Rating: Descending</option>
  <option value="duration">Duration: Ascending</option>
  <option value="pop">Popularity</option>
  <option value="low">Price: Low to High</option>
  <option value="high">Price: High to Low</option>
</select>


    
        <form class="form" id="form">
            <div class = 'search-box'>
              <input class = "search-text" type="text" placeholder = "Search Movie" id="searchMovie">
              <a href="#" type="submit" class = "search-btn">
                <i class="fas fa-search"></i>
              </a>         
           </div> 
            {{!-- <input placeholder="Search Your Movie">
            <button>Search</button> --}}
        </form> 
      <nav class="sub-nav">
          
        <a href="#">Welcome {{name}}</a>        
      </nav>      

      <h1>{{email}}</h1>
    </header>

	  {
  
<div class="wrapper" >
   
   {{#each movies }}
   
	<div class="main_card" >
		<div class="card_left">
			<div class="card_datails">
				<h1>{{movieName}}</h1>
				<div class="card_cat">
					<p class="PG">PG - 13</p>
					<p class="year">2018</p>
					<p class="genre">{{genre}}</p>
					<p class="time">2h 28m</p>
				</div>
				<p class="disc">{{description}}</p>
				<a href="https://www.imdb.com/title/tt4912910/" target="_blank">Read More</a>
			<div class="social-btn">
        <!-- WATCH TRAILER-->
				<button>
					<i class="fas fa-play"></i> SEE TRAILER
				</button>
				<!-- GET-->
				<button>
					<i class="fas fa-download"></i> DOWNLOAD
				</button>
				<!--USERS RATINGS-->
				<button>
					<i class="fas fa-thumbs-up"></i>{{rating}}
				</button>
				<!--BOOKMARK-->
				<button onclick="getFav(this)" value="{{_id}}" name="{{email}}" style="background-color: #e50914;" id="x">
  
					<i class="fas fa-star"></i>
				</button>
			</div>	
			</div>
		</div>
		<div class="card_right">
			<div class="img_container">
				<img src="{{coverImage}}" alt="">
				</div>
				<div class="play_btn">
					<a href="https://www.imdb.com/title/tt4912910/" target="_blank">
						<i class="fas fa-play-circle"></i>
					</a>
				</div>
			</div>
		</div>
    
    {{/each}}
	</div>
  </div>
	   


   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
   <script>
      console.log("inside script")
     
     async function hello(){
       try {
           const  res=await axios.get("/movies/all")
             console.log(res)
           {{!-- return res --}}

            return res
        } catch (error) {
          console.error(error);
        }
     }
     let responseAll;
    hello().then(function (result) {
        console.log(result); // Ooops, the result is undefined
        responseAll = result;
    })
    console.log(responseAll)

    function checkFav(btn) {
    let countFav=0
      
      console.log("running CheckFav")
      console.log(responseAll.data.user.favMovie[0])
      btn.id=countFav.toString()
        console.log(btn.id)
        countFav=parseInt(btn.id)
        console.log(countFav)

      for(let i=0;i<responseAll.data.user.favMovie.length;i++){
          if(responseAll.data.user.favMovie[i].toString()===btn.value.toString()){
              countFav=countFav+1;
              console.log("inside for loop")
              console.log(countFav)
          }
      }
      console.log(countFav)
      
      
      return countFav
    }

      const Form = document.querySelector("form");
      const search=document.getElementById("searchMovie")

      async function getOption(val) {
        event.preventDefault();
       console.log("inside get optioin")
       var output = document.getElementById('output');
            {{!-- selectElement = document.querySelector('input');
                      
            out= selectElement.value;
            console.log(out) --}}
              
         
          try {
            const response = await axios.get("/movies",{ params: { sort: val } })
            console.log(response);
            output.className = 'ultimate';
            console
             output.innerHTML = response.data;

         
        } catch (error) {
          console.error(error);
        }
      
  
        }

      Form.addEventListener("submit", (event) => {
        event.preventDefault();
        const movieName = search.value;
        movieName.toLowerCase()
        console.log("inside form")

        async function getUser() {
           var output = document.getElementById('output');
          console.log("inside function")
          console.log(movieName)
          try {
            const response = await axios.get("/movies",{ params: { movieName: movieName } })
            console.log(response);
            output.className = 'ultimate';
            console
              output.innerHTML = response.data;

         
        } catch (error) {
          console.error(error);
        }
      }
      getUser()
      })


      async function getFav(btn) {
        console.log("Insdie getFav")



        
         let x=checkFav(btn)
          console.log(x)
          btn.count=x.toString()

        if(x>0){
            btn.style.backgroundColor='#6a5acd'
            alert("Already Added In Favorite List");
        }else{
        alert("Addedd To Favourite List")
        btn.style.backgroundColor='#6a5acd'

        }


         const Usermail=btn.name
         const movieId=btn.value

         console.log(Usermail)
         console.log(movieId) 

         
         
         console.log("Inside getfav function")
          try {
            const response = await axios.get("/movies/like",
            { params: { id:movieId ,
              _id:Usermail 
              } 
            })
            console.log(response);
            console.log(id)
            {{!-- console.log(_id) --}}
            output.className = 'ultimate';
            console
              output.innerHTML = response.data;

         
        } catch (error) {
          console.error(error);
        }

       }





      {{!-- DropDown List --}}

      $('.nice-select').each(function() {
  
  var select = $(this),
      name = select.attr('name');
  
  select.hide();
  
  select.wrap('<div class="nice-select-wrap"></div>');
  
  var parent = select.parent('.nice-select-wrap');
  
  parent.append('<ul id=' + name + ' style="display:none"></ul>');
  
  select.find('option').each(function() {

    var option = $(this),
        value = option.attr('value'),
        label = option.text();
    
    if (option.is(":first-child")) {
      
      $('<a href="#" class="drop">' + label + '</a>').insertBefore(parent.find('ul'));
      
    } else {
      
      parent.find('ul').append('<li><a href="#" id="' + value + '">' + label + '</a></li>');
      
    }
    
  });
  
  parent.find('a').on('click', function(e) {
    
    parent.toggleClass('down').find('ul').slideToggle(300);
    
    e.preventDefault();
  
  });
  
  parent.find('ul a').on('click', function(e) {
    
    var niceOption = $(this),
    		value = niceOption.attr('id'),
        text = niceOption.text();
    
    select.val(value);
    console.log(value)
     getOption(value)
    
    parent.find('.drop').text(text);
    
    e.preventDefault();
  
  });
  
});
    
   </script>
</body>
</html>