<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Netflix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

  <script src="main.js"></script>
 <style>
     /* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark: 	#686868;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 60px;  
}

.wrapper {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;  
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
   "nt mn mn sb . . . "; 
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;  
}

.netflixLogo {
  grid-area: nt;
  object-fit: cover;
  width: 100px;
  max-height: 100%;
  
  padding-left: 30px;
  padding-top: 0px;  
}

.netflixLogo img {  
  height: 35px;     
}

#logo {
  color: #E50914;  
  margin: 0; 
  padding: 0; 
}


.main-nav {
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;  
}

.main-nav a:hover {
  color: var(--dark);
}

.sub-nav {
  grid-area: sb;
  padding: 0 40px 0 40px;
}

.sub-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.sub-nav a:hover {
  color: var(--dark);
}


/* MAIN CONTIANER */
.main-container {
  padding: 50px;
}

.box {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.box a {
  transition: transform .3s;  
}

.box a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);  
  transform: scale(1.4);
}

/* LINKS */
.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a{
  padding: 10px;
}

.logo {
  color: var(--dark);
}


/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

/* MEDIA QUERIES */

@media(max-width: 900px) {

  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

}

@media(max-width: 700px) {

  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
   
}

@media(max-width: 500px) {

  .wrapper {
    font-size: 15px;
  }

  header {
    margin: 0;
    padding: 20px 0 0 0;
    position: static;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "nt"    
    "mn"
    "sb";
    text-align: center;
  }

  .netflixLogo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }

  .main-nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }

 

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;    
  }

  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);  
    transform: scale(1.2);
  }

  .logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }  
}

.container {
  position: relative;
  width: 18vw;
  height: 45vh;
}

.container .overlay {
  position: relative;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .7);
}

.container img {
  position: absolute;
  height: 45vh;
  width: 18vw;
}

.container .title {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: inherit;
  font-size: 1.4vw;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  top: 40%;
}

.container .button {
  position: absolute;
  left:27%;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.container .button a {
  padding: 12px 48px;
  text-align: center;
  color: rgb(253, 253, 253);
  background-color: rgb(255, 0, 0);
  z-index: 1;
   text-decoration: none;
}
.container .button2 {
  position: absolute;
  left:27%;
  top: 100px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.container .button2 a {
  padding: 12px 48px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(240, 0, 0);
  z-index: 1;
   text-decoration: none;
}

.container:hover .button {
  opacity: 1;
}
.container:hover .button2 {
  opacity: 1;
}

 </style>
</head>
<body>


 

    <!-- HEADER -->
    <header>
      <div class="netflixLogo">
        <a id="logo" href="#home"><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true" alt="Logo Image"></a>
      </div>      
      <nav class="main-nav">                
        <a href="#">Home</a>
        <a href="/movies">Movies</a>
        <a href="/webseries">Webseries</a>
        <a href="/games">Games</a>
        <a href="/auth/logout">Logout</a>
      </nav>
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
        <a href="#">LogOut</a>        
      </nav>      
    </header>
    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    <section class="main-container">
      <div class="location" id="home" style="padding-top:50px">
          <div class="details" style="text-align: center;">
          <h3>Hi!! {{name}}</h3>
          <h3>{{email}}</h3>
          <img src="{{photo}}" alt="" style="border-radius:50%;margin:auto">
          <br>
          <br>
          <br>
          <h5 >Your account was created on - {{time}}</h5>
          </div>
        <h1>Favorite Movies</h1>
        <div class="box" class="wrapper" id="output">
          {{#each movies}}
          <div class="container">
              <img src="{{coverImage}}" alt="" />
              <div class="overlay"></div>
              <div class="button"><a href="#"   onclick="removeFav(this)" id="{{_id}}">Unfavorite</a></div>
              <div class="button2"><a href="{{link}}">Download</a></div>
          </div>
          {{/each}}
        </div>

        <h1>Favorite Webseries</h1>
        <div class="box"  class="webWrapper" id="webOutput">
          {{#each webseries}}
          <div class="container">
              <img src="{{coverImage}}" alt="" />
              <div class="overlay"></div>
              <div class="button"><a href="#" onclick="removeWebFav(this)" id="{{_id}}">Unfavorite</a></div>
              <div class="button2"><a href="{{link}}">Download</a></div>
          </div>
          {{/each}}
        </div>
        
        <h1>Favorite Games</h1>
        <div class="box" class="gameWrapper" id="gameOutput">
          {{#each games}}
          <div class="container">
              <img src="{{coverImage}}" alt="" />
              <div class="overlay"></div>
              <div class="button"><a href="#" onclick="removeGameFav(this)" id="{{_id}}">Unfavorite</a></div>
              <div class="button2"><a href="{{link}}">Download</a></div>
          </div>
          {{/each}}
        </div>
    <!-- LINKS -->
    <section class="link">
      <div class="logos">
        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
      </div>
      <div class="sub-links">
        <ul>
          <li><a href="#">Audio and Subtitles</a></li>
          <li><a href="#">Audio Description</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Corporate Information</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </section>
    <!-- END OF LINKS -->

    <!-- FOOTER -->
    <footer>
      <p>&copy 1997-2018 Netflix, Inc.</p>
      <p>Carlos Avila &copy 2018</p>
    </footer>
  </div>
  </section>
  
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
  <script>
    async function removeFav(a){
    var output = document.getElementById('output');
      console.log("inside removeFav")
      const movieID=a.id
      console.log(movieID)
      try{

      const response=await axios.get('/profile/remove',{params:{id:movieID}})
       output.className = 'wrapper';
            console
              output.innerHTML = response.data;
      }catch(error){
        console.error(error);
      }
    }
    async function removeGameFav(a){
       var output = document.getElementById('gameOutput');
      console.log("inside removeFav")
      const gameID=a.id
      console.log(gameID)
      try{

      const response=await axios.get('/profile/remove/game',{params:{id:gameID}})
       output.className = 'gameWrapper';
           
              output.innerHTML = response.data;
      }catch(error){
        console.error(error);
      }
    }
    async function removeWebFav(a){
       var output = document.getElementById('webOutput');
      console.log("inside removeFav")
      const webID=a.id
      console.log(webID)
      try{

      const response=await axios.get('/profile/remove/web',{params:{id:webID}})
       output.className = 'webWrapper';
            console
              output.innerHTML = response.data;
      }catch(error){
        console.error(error);
      }
    }
  </script>

</body>


</html>