
      <style>
          body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: black;
        color: white;
      }

  .blog-post{
    width: 70%;
    max-width:98rem;
    padding: 2rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
    border-radius: 0.8rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 7%;
  }

  .blog-post_img{
    min-width: 25rem;
    max-width: 25rem;
    height: 25rem;
    transform: translateX(-3rem);
    position: relative;
  }

  .blog-post_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 0.8rem;
  }

  .blog-post_date span{
    display: block;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    margin: .2rem 0;
  }

  .blog-post_title{
    font-size: 2rem;
    margin: 1rem 0 1.5rem;
    color: red;
  }

  .blog-post_text{
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    color: white;
  }

  .blog-post_cta{
    display: inline-block;
    padding: 1rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: black;
    background-image: linear-gradient(to right,#4fac4f 0%,#00f2fe 100%);
    text-decoration: none;
    border-radius: 0.8rem;
  }

  .blog-post_cta:hover{
    background-image: linear-gradient(to right,#00f2fe 0%, #4fac4f 100%);
  }

  @media screen and (max-width:1068px) {
    .blog-post{
      max-width: 80rem;
    }
    .blog-post_img{
      min-width: 20rem;
      max-width: 20rem;
    }
  }
  @media screen and (max-width:868px) {
    .blog-post{
      padding: 2rem;
      flex-direction: column;
      margin: 5%;
      margin-bottom: 0;
      margin-top: 25%;
      width: 90%;
    }
    .blog-post_title,{
      text-align: center;
    }
    .blog-post_img{
      min-width: 100%;
      max-width: 100%;
      transform: translate(0,-3rem);
    }
  }
  @media screen and (max-width:768px) {
    .blog-post{
      max-width: 70rem;
    }
    .blog-post_img{
      height: 15rem;
    }
  }

  .material-icons{
    font-size: 30px !important;
  }
	  .bg-dark{
  background: #000000 !important;
}

      </style>
      
     {{#each movies }}
   
	<div class="blog-post">
      <div class="blog-post_img">
        <img src="{{coverImage}}" alt="" class="img">
      </div>
      <div class="blog-post_info">
        <div class="blog-post_date">
          <span><i class="fas fa-star" style="color:gold;"></i> {{rating}}</span>
          <span style="text-transform: uppercase;">{{genre}}</span>
        </div>
        <h1 class="blog-post_title">{{movieName}}</h1>
        <p class="blog-post_text">
          {{description}}
        </p>
        <button class="movie-card__icon foo" style="border: none;background:transparent;color:white;"   onclick="getFav(this)" value="{{_id}}" name="{{email}}" id="x"><i class="material-icons">&#xe87d</i></button>
     
      <a href="{{trailer}}" target="_blank"><button class="movie-card__icon" style="border: none;background:transparent;color:white;font-size:"><i class="material-icons" st>play_circle_outline</i></button></a>
      <a href="{{link}}" target="_blank"><button class="movie-card__icon" style="border: none;background:transparent;color:white;font-size:"><i class="material-icons">downloading</i></button></a>
    <script>
      
        console.log("Runing JavaScript With EveryHelpers");
      
        
      count++;
      console.log(count)
    

       var inputElements = document.getElementsByClassName("foo");
       {{!-- var inputElements = document.querySelectorAll("[class='foo']"); --}}
     
       
      
       response=JSON.parse(localStorage.getItem('response'))
       data=response.data.user.favMovie[0]

       for(j=0; inputElements.length > j; j++){

           for(i=0;i<response.data.user.favMovie.length;i++){

          console.log("Inside start mark for loop")
                console.log(inputElements[j].value)
                console.log(response.data.user.favMovie[i])
          if(inputElements[j].value==response.data.user.favMovie[i]){
                
            
              console.log("Found a Movie to star mark")
                inputElements[j].style.color='red'
               inputElements[j].style.opacity='1'
          }
        }
     } console.log("Data is Shown"+data)

        

      
       
      
      
    </script>
      </div>
    </div>
    
    {{/each}}

